@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
    --color-primary: #FF7757;
    --color-heavy: #FFD2C7;
    --color-secondary: #331811;
    --color-four: #61291C;
}

* {
    font-family: Rubik;
}

.font-playfair {
    font-family: 'Playfair' !important;
}